@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

.subtitulo-1 {
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	color: #9b4121;
	letter-spacing: -0.5px;
}
.title-card {
	font-size: 18px;
	font-weight: 600;
}
.subtitulo-2 {
	font-size: 24px;
	font-weight: 500;
}
.descripcion {
	font-size: 14px;
	font-weight: 400;
}

.boton-fundacion {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	background-color: #9b4121;
	padding: 15px 30px;
	border-radius: 9999px;
}

.boton-fundacion-line-rounded {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	background-color: transparent;
	border: 1px solid white;
	padding: 15px 30px;
	border-radius: 9999px;
}

/* Paginación (puntos) */

.paginacionVidas .swiper-pagination-bullet {
	background: #faecda !important;
	/* border: 1px solid #ffffff; */
	border-radius: 4px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 100% !important;
	height: 2px !important;
	opacity: 0.5 !important;
	margin: 0 !important;
}

.paginacionVidas .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 100% !important;
}
/*Desactivar boton*/
.swiper-button-disabled {
	opacity: 0.3; /* Atenuar los botones */
	pointer-events: none; /* Deshabilitar la interacción */
	cursor: not-allowed; /* Cambiar el cursor a "no permitido" */
}

/*Asilo*/
.paginacionAsiloLima .swiper-pagination-bullet {
	background: transparent !important;
	/* border: 1px solid #ffffff; */
	border-radius: 9999px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 20px !important;
	height: 20px !important;
	opacity: 0.5 !important;
	border: 1px solid #9b4121;
}

.paginacionAsiloLima .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 20px !important;
}

/*Beneficiarios*/

.mySwiperTab .swiper-slide {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #ffffff4a;
	color: white;
	cursor: pointer;
}
.mySwiperTab .swiper-slide.activeBeneficio {
	transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.mySwiperTab .swiper-slide-thumb-active.activeBeneficio {
	font-size: 24px;
	font-weight: 600;
	overflow: visible !important;
}
.mySwiperTab .swiper-slide-thumb-active.activeBeneficio::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url('../img/inicio/arrow.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
}

/*este es móvil*/

@media (min-width: 768px) {
	.subtitulo-2 {
		font-size: 30px;
	}
	.subtitulo-1 {
		font-size: 40px;
	}
	.boton-fundacion {
		font-size: 16px;
	}
	.descripcion {
		font-size: 16px;
	}
}
