@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Poppins', sans-serif;
}

.fondoHeader {
	background-color: #fffdf4;
	filter: drop-shadow(-4px 0px 9px rgba(71, 27, 10, 0.1))
		drop-shadow(-17px 0px 17px rgba(71, 27, 10, 0.09))
		drop-shadow(-38px 0px 23px rgba(71, 27, 10, 0.05))
		drop-shadow(-67px 0px 27px rgba(71, 27, 10, 0.01))
		drop-shadow(-105px 0px 29px rgba(71, 27, 10, 0));
}

.link-nav-style {
	color: #000;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 29px; /* 181.25% */
}

.subtitulo-1 {
	font-size: 32px;
	font-weight: 700;
	line-height: 44px;
	color: #9b4121;
	letter-spacing: -0.5px;
}
.title-card {
	font-size: 18px;
	font-weight: 600;
}
.subtitulo-2 {
	font-size: 24px;
	font-weight: 500;
}
.descripcion {
	font-size: 14px;
	font-weight: 400;
}

.boton-fundacion {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	background-color: #9b4121;
	padding: 15px 30px;
	border-radius: 9999px;
}

.boton-fundacion-line-rounded {
	color: white;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	background-color: transparent;
	border: 1px solid white;
	padding: 15px 30px;
	border-radius: 9999px;
}

/*modal galeria*/
.modal {
	display: none; /* Oculto por defecto */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
	justify-content: center;
	align-items: center;
	z-index: 99999;
}

.modal-content {
	background: transparent;
	border-radius: 15px;
	width: 100%;
	max-width: 330px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 20px;
	font-size: 24px;
	font-weight: bold;
	color: #333;
	cursor: pointer;
	display: none;
}

.close:hover {
	color: red;
}

/*Galeria de imagenes*/
.image-slider {
	position: relative;
	width: 100%;
	box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.4);
}
.slider-info {
	position: absolute;
	bottom: 20%;
	left: 50%;
	transform: translateX(-50%);
	font-size: 1.2rem;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}
.image-slider .images {
	width: 100%;
	height: 493px;
	overflow: hidden;
	position: relative;
	border-radius: 20px;
}
.image-slider .images img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transform: scale(1.1);
	transition: all 500ms ease-in-out;
}
.image-slider .images img.active {
	opacity: 1;
	transform: scale(1);
}
.image-slider .back-btn,
.image-slider .next-btn {
	position: absolute;
	width: 40px;
	top: 40%;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
.image-slider .next-btn {
	right: 25px;
}
.image-slider .back-btn {
	left: 25px;
}

.image-slider .thumbnails {
	width: 100%;
	display: flex;
	justify-content: start;
	gap: 3px;
	overflow-x: auto;
	scroll-behavior: smooth;

	/* Ocultar barra de desplazamiento */
	scrollbar-width: none; /* Para Firefox */
	-ms-overflow-style: none; /* Para IE y Edge */
}

.image-slider .thumbnails::-webkit-scrollbar {
	display: none; /* Para Chrome, Safari y Edge */
}
.image-slider .thumbnails img {
	width: 90px;
	height: 90px;
	cursor: pointer;
	border: 2px solid transparent;
	border-radius: 15px;
	object-fit: cover;
}
.image-slider .thumbnails img.active {
	border: 2px solid #fff;
}
/*Arrows de galleria*/
.custom-next,
.custom-prev {
	background-color: #ffffff; /* Fondo blanco del contenedor */
	border-radius: 50%; /* Hace que sea un círculo */
	width: 50px; /* Tamaño del círculo */
	height: 50px;
	display: flex; /* Centra el contenido */
	align-items: center; /* Centrado vertical */
	justify-content: center; /* Centrado horizontal */
}

/* Paginación (puntos) */

.paginacionVidas .swiper-pagination-bullet {
	background: #faecda !important;
	/* border: 1px solid #ffffff; */
	border-radius: 4px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 100% !important;
	height: 2px !important;
	opacity: 0.5 !important;
	margin: 0 !important;
}

.paginacionVidas .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 100% !important;
}
/*Desactivar boton*/
.swiper-button-disabled {
	opacity: 0.3; /* Atenuar los botones */
	pointer-events: none; /* Deshabilitar la interacción */
	cursor: not-allowed; /* Cambiar el cursor a "no permitido" */
}

/*Asilo*/
.paginacionAsiloLima .swiper-pagination-bullet {
	background: transparent !important;
	/* border: 1px solid #ffffff; */
	border-radius: 9999px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 20px !important;
	height: 20px !important;
	opacity: 0.5 !important;
	border: 1px solid #9b4121;
}

.paginacionAsiloLima .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 20px !important;
}

/*destacado imapcto*/
.paginacionDestacadoImpacto .swiper-pagination-bullet {
	background: transparent !important;
	/* border: 1px solid #ffffff; */
	border-radius: 9999px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 20px !important;
	height: 20px !important;
	opacity: 0.5 !important;
	border: 1px solid #9b4121;
}

.paginacionDestacadoImpacto .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 20px !important;
}

/*actividad*/

.paginacionActividadEvento .swiper-pagination-bullet {
	background: transparent !important;
	/* border: 1px solid #ffffff; */
	border-radius: 9999px !important;
	transition: background 0.3s ease, width 0.3s ease;
	width: 20px !important;
	height: 20px !important;
	opacity: 0.5 !important;
	border: 1px solid #9b4121;
}

.paginacionActividadEvento .swiper-pagination-bullet-active {
	background: #9b4121 !important; /* Color de los puntos activos */
	opacity: 1 !important;
	width: 20px !important;
}
/*Beneficiarios*/

.mySwiperTab .swiper-slide {
	width: 100%;
	height: auto;
	font-size: 16px;
	font-weight: 400;
	background-color: transparent;
	padding-bottom: 20px;
	padding-top: 20px;
	border-bottom: 1px solid #ffffff4a;
	color: white;
	cursor: pointer;
}
.mySwiperTab .swiper-slide.activeBeneficio {
	transition: font-size 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}
.mySwiperTab .swiper-slide-thumb-active.activeBeneficio {
	font-size: 24px;
	font-weight: 600;
	overflow: visible !important;
}
.mySwiperTab .swiper-slide-thumb-active.activeBeneficio::before {
	content: '';
	width: 20px;
	height: 20px;
	background: url('../img/inicio/arrow.svg') no-repeat center center;
	background-size: cover;
	position: absolute;
	left: -30px;
	top: 50%;
	transform: translateY(-50%);
}

/*Input personalizado*/
.input-wrapper {
	position: relative;
	width: 100%;
	max-width: 100%;
}

.input-wrapper input {
	width: 100%;
	border: none;
	color: #000000;
	background-color: transparent;
	border: 1px solid #000000;
	border-radius: 6px;
	outline: none;
	padding: 20px 8px 4px 10px; /* Agrega padding suficiente en la parte superior */
	font-size: 16px;
	font-style: normal;
	line-height: 2; /* Asegúrate de que haya suficiente espacio para el texto */
	transition: border-color 0.3s ease, background-color 0.3s ease;
}

.input-wrapper input:focus {
	border: 1px solid #000000;
}

.input-wrapper label {
	position: absolute;
	top: 22px;
	left: 10px;
	font-size: 16px;
	font-style: normal;
	color: #000000;
	pointer-events: none;
	transform-origin: left center;
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), color 0.3s ease;
	will-change: transform, color;
	backface-visibility: hidden;
	transform: translateY(-4px);
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
	transform: translateY(-16px) scale(0.85); /* Asegúrate de que el label no se sobreponga */
	color: #000000;
}

/*checkbox*/

.checkbox-wrapper-65 .cbx {
	position: relative;
	display: block;
	float: left;
	width: 20px;
	height: 20px;
	min-width: 20px;
	border-radius: 4px;
	border: 1px solid #c2c2c2;
	background-color: transparent;
	/* background-image: linear-gradient(#0f698d, #1d3c6b); */
	box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15),
		inset 0 -1px 1px rgba(0, 0, 0, 0.15);
	transition: all 0.15s ease;
}

.checkbox-wrapper-65 .cbx svg {
	position: absolute;
	top: 3px;
	left: 3px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #fff;
	stroke-width: 2;
	stroke-dasharray: 17;
	stroke-dashoffset: 17;
	transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-65 .cbx + span {
	float: left;
	margin-left: 6px;
}

.checkbox-wrapper-65 {
	user-select: none;
}

.checkbox-wrapper-65 label {
	display: inline-block;
	cursor: pointer;
}

.checkbox-wrapper-65 input[type='checkbox'] {
	display: none;
	visibility: hidden;
}

.checkbox-wrapper-65 input[type='checkbox']:checked + .cbx {
	background-color: #606062;
	background-image: linear-gradient(#2584d2, #1d52c1);
}

.checkbox-wrapper-65 input[type='checkbox']:checked + .cbx svg {
	stroke-dashoffset: 0;
	transition: all 0.15s ease;
}

/* Menu burger */
/* From Uiverse.io by Cevorob */
.burger {
	position: relative;
	width: 40px;
	height: 30px;
	background: transparent;
	cursor: pointer;
	display: block;
}

.burger input {
	display: none;
}

.burger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
	top: 0px;
	transform-origin: left center;
}

.burger span:nth-of-type(2) {
	top: 50%;
	transform: translateY(-50%);
	transform-origin: left center;
}

.burger span:nth-of-type(3) {
	top: 100%;
	transform-origin: left center;
	transform: translateY(-100%);
}

.burger input:checked ~ span:nth-of-type(1) {
	transform: rotate(45deg);
	top: 0px;
	left: 5px;
}

.burger input:checked ~ span:nth-of-type(2) {
	width: 0%;
	opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
	transform: rotate(-45deg);
	top: 28px;
	left: 5px;
}

/*menu movil */

#menu-responsive {
	transition: transform 0.3s ease-in-out; /* Suavidad en el deslizamiento */
	transform: translateX(100%); /* Menu fuera de vista por defecto */
}

#menu-responsive.open {
	transform: translateX(0); /* Mostrar el menú cuando está abierto */
}
/* Oculta los submenús inicialmente */
.submenu-list {
	opacity: 0; /* Inicialmente oculto */
	visibility: hidden; /* Ocultar visualmente */
	transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Suavidad */
}

.menu-item:hover > .submenu-list {
	opacity: 1; /* Hacer visible */
	visibility: visible; /* Mostrar el contenido */
}

/* Submenús */
.submenu-list {
	background: #fffdf4;
	border-radius: 0px;
	padding: 10px 0px;
	position: absolute;
	top: 101%;
	left: 0%;
	width: 100%;
}
.submenu-item {
	display: flex;
	align-items: start;
	gap: 10px;
	max-width: 269px;
	padding: 10px 0px 10px 40px;
}

.submenu-link {
	color: #000;

	font-size: 12px;
	width: fit-content;

	transition: color 0.3s ease; /* Suavidad */
}
.submenu-link:hover {
	color: #9b4121;
}

/*boton con hover header*/
.animated-button {
	position: relative;
	display: inline-block;
	padding: 16px 24px;
	border: none;
	font-size: 16px;
	background-color: #9b4121;
	border-radius: 100px;
	color: white;
	box-shadow: 0 0 0 2px #ffffff20;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:last-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #c95e29;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button span:first-child {
	position: relative;
	z-index: 1;
}

.animated-button:active {
	scale: 0.95;
}

.animated-button:hover span:last-child {
	width: 100%;
	height: 150px;
	opacity: 1;
}

/* button line */
.animated-button-outline {
	position: relative;
	display: inline-block;
	padding: 6px 16px;
	border: 1px solid #000;
	font-size: 16px;
	background-color: transparent;
	border-radius: 100px;
	color: #000;
	box-shadow: 0 0 0 2px #ffffff20;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button-outline span:last-child {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 20px;
	height: 20px;
	background-color: #c95e29;
	border-radius: 50%;
	opacity: 0;
	transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button-outline span:first-child {
	position: relative;
	z-index: 1;
}
.animated-button-outline:hover {
	color: white; /* Cambia el color del texto a blanco */
	border: 1px solid #c95e29;
}
.animated-button-outline:active {
	scale: 0.95;
}

.animated-button-outline:hover span:last-child {
	width: 100%;
	height: 150px;
	opacity: 1;
}

/* Aplicando hover con group */
.group:hover .animated-button-outline {
	color: white; /* Cambia el color del texto a blanco */
	border: 1px solid #c95e29;
}

.group:hover .animated-button-outline span:last-child {
	width: 100%;
	height: 150px;
	opacity: 1;
}

/*este es móvil*/
@media (min-width: 500px) {
	.modal-content {
		max-width: 450px;
	}
}

@media (min-width: 768px) {
	.subtitulo-2 {
		font-size: 30px;
	}
	.subtitulo-1 {
		font-size: 40px;
	}
	.boton-fundacion {
		font-size: 16px;
	}
	.descripcion {
		font-size: 16px;
	}
	.modal-content {
		max-width: 650px;
	}
}
@media (min-width: 1024px) {
	.modal-content {
		max-width: 750px;
	}
}
